name: Test and Lint

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - uses: actions/checkout@v3
      - name: Build
        run: ./gradlew build
      - name: Unit Test
        run: ./gradlew testDebugUnitTest
      - name: Lint
        run: ./gradlew ktlintCheck
      - name: Upload build results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          # artifacts name
          name: build-results
          path: android/build/reports/tests/testDebugUnitTest/index.html


