name: Test

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'zulu'
      - uses: actions/checkout@v2
      - name: Unit Test
        run: ./gradlew testDebugUnitTest
      - name: Lint
        run: ./gradlew ktlintCheck